body {
    background-color: #ffffff;
}
header {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 70px;
        display: inline-block;
}
 header > a {
     width: 60%;
     float: left;
 }   
header img {
        width: 32px;
        float: left;
    }
    nav {
        width: 40%;
        float: left;
    }
    nav > a {
        text-decoration: none;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        color: #666666;
        padding-left: 35px;
    }
main {
        background-color: #ffffff;
        display: inline-block;
        width: 70%;
        margin-left: 15%;
}
main div {
    float: left;
    width: 50%;
}
main > div > h1 {
    color: #222222;
    font-size: 45px;
    font-weight: 200;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main > div > h2 {
    color: #222222;
    font-size: 45px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 5px;
}
main > div > hr {
    border: 2px solid #55337A;
    border-radius: 20px;
    width: 70px;
    float: left;
}
main > div > p {
    color: #AAAABB;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
    float: left;
}
main > div > a {
    border: 2px solid #664488;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    text-decoration: none;
    float: left;
    margin-right: 15px;
}
main > img {
    width: 50%;
    float: left;
}
footer {
        width: 70%;
        margin-top: 10%;
        margin-left: 15%;
        display: inline-block;
}
footer div {
    width: 70%;
    float: left;
}
footer img {
    width: 32px;
    padding: 4px;
}
footer p {
    width: 30%;
    float: left;
    font-size: 14px;
    font-weight: bold;
}