header {
        width: 800px;
        margin: auto;
        background-color: yellow;
}
    img {}
    nav {}
    a {}
main {
        width: 800px;
        margin: auto;
        background-color: green;
}
footer {
      width: 800px;
        margin: auto;
      background-color: red;
}