body {
    background-color: #ffffff;
    margin-top: 5%;
}
.container {
        width: 800px;
        margin-left: calc((100% - 800px) / 2);
        margin-right: calc((100% - 800px) / 2);
        margin-bottom: 50px;
        display: inline-block;
}
    .logo {
        height: 24px;
        float: left;
    }
    .menu {
        float: right;
        margin-top: 4px;
    }
    .menu a{
        float: left;
        text-decoration: none;
        font-size: 16px;
        line-height: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        margin-left: 30px;
        color: #666666;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        transition-duration: 1.2s;
    }
    .menu > a:nth-of-type(1) {
        margin: 0;
    }
    .menu > a:hover{
        background-color: #AAAABB;
        transition: 1.5s;
    }
.left-column {
    float: left;
    width: 40%;
}
.headers {
    color: #222222;
    font-size: 40px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.left-column > h1 {
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: 0px;
}
.left-column > h2 {
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 0px;
}
.left-column > hr {
    border: none;
    height: 4px;
    border-radius: 2px;
    background-color: #55337A;
    width: 85px;
    margin-top: 0px;
    display: inline-block;
}
.left-column > p {
    color: #AAAABB;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 60px;
    float: left;
}
.buttons {
    display: inline-block;
}
.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #664488;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    text-decoration: none;
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
    transition-duration: 1.2s;
}
.btn.btn1 {
    background-color: #664488; 
    color: #FFFFFF;
}
.btn.btn2 { 
    color: #664488;
}
.btn:hover {
    background-color: #AAAABB;
    transition: 1s;
}
.right-column {
    width: 60%;
    float: left;
}
.social-bar {
    float: left;
}
.social-links {
    color: #AAAABB;
    font-size: 18px;
    text-decoration: none;
    transition-duration: 1.2s;
}
.social-links + a {
    margin-left: 10px;
}
.social-links:hover {
    color: #55337A;
    transition: 0.5s;
}
.copyright {
    float: right;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}